<div class="form-page">

  <div class="form-container settings-wrapper">

    <div class="form-header">
      <h2>{{ 'settings.title' | translate }}</h2>
      <p class="form-subtitle">
        {{ 'settings.subtitle' | translate }}
      </p>
    </div>

    <div class="form-card" [formGroup]="form">
      <div class="form-grid">

        <div class="form-group">
          <label>{{ 'settings.fields.name' | translate }}</label>
          <input class="form-control" type="text"
                 formControlName="name" />

          @if (hasError('name', 'required')) {
            <div class="error">
              {{ 'settings.placeholders.name' | translate }}
            </div>
          }
        </div>

        <div class="form-group">
          <label>{{ 'settings.fields.email' | translate }}</label>
          <input class="form-control"
                 formControlName="email" />
        </div>

        <div class="form-group">
          <label>{{ 'settings.fields.phone' | translate }}</label>
          <input class="form-control"
                 formControlName="phone" />
        </div>

        <div class="form-group full">
          <label>{{ 'settings.fields.address' | translate }}</label>
          <input class="form-control"  type="text"
                 formControlName="address" />
        </div>

        <div class="form-group full">
          <label>{{ 'settings.fields.description' | translate }}</label>
          <textarea class="form-control"
                    rows="3"
                    formControlName="description">
          </textarea>
        </div>

        <div class="form-group full">
          <label>{{ 'settings.fields.logoUrl' | translate }}</label>
          <input class="form-control"
                 formControlName="logoUrl" />
        </div>

      </div>

      <div class="form-actions">
        <button type="button"
                class="btn-secondary"
                (click)="cancel()">
          {{ 'common.cancel' | translate }}
        </button>

        <button
          type="button"
          class="btn-primary"
          (click)="save()"
          [disabled]="!canSave">

          {{ saving
          ? ('common.saving' | translate)
          : ('common.save' | translate)
          }}

        </button>
      </div>

    </div>

  </div>

</div>
