<div class="patients">
  <h2>Pacienți</h2>
  <button class="btn-primary" [routerLink]="['/admin/patients/create']">
    + Adaugă pacient
  </button>
</div>

<br/>

<div class="filters-container">
  <input type="text"
         placeholder="Caută după nume..."
         [formControl]="name">

  @if (isSuperAdmin) {
    <select [formControl]="cabinetId">
      <option value="">Toate cabinetele</option>
      @for (cab of cabinets(); track cab.id) {
        <option [value]="cab.id">{{ cab.name }}</option>
      }
    </select>
  }

  <select #sf (change)="sortField.set(sf.value)">
    <option value="">Fără sortare</option>
    <option value="name">Nume</option>
    @if (isSuperAdmin) {
      <option value="cabinet">Cabinet</option>
    }
  </select>

  <select #sd (change)="sortDir.set(sd.value)">
    <option value="asc">Ascendent</option>
    <option value="desc">Descendent</option>
  </select>


</div>

<hr>

<table class="patients-table">
  <thead>
  <tr>
    <th>Nume</th>
    <th>Telefon Contact</th>
    <th>Email Contact</th>
    @if (isSuperAdmin) {
      <th>Cabinet</th>
    }
    <th class="actions-col">Acțiuni</th>
  </tr>
  </thead>

  <tbody>
    @for (patient of filteredPatients(); track patient.id) {
      <tr>
        <td>{{ patient.lastName }} {{ patient.firstName }}</td>
        <td>{{ patient.phone }}</td>
        <td>{{ patient.email }}</td>

        @if (isSuperAdmin) {
          <td>{{ cabinetMap.get(patient.cabinetId) }}</td>
        }

        <td class="actions-col">
          <button class="icon-button edit" [routerLink]="['/admin/patients', patient.id]">
            ✏️
          </button>

          <button
            class="icon-button delete"
            (click)="askDelete(patient)"
            [disabled]="isDeleteDisabled(patient)"
          >
            🗑️
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (patientToDelete()) {
  <div class="modal-backdrop">
    <div class="modal">
      <h3>Stergi pacientul?</h3>
      <p>Esti sigur ca vrei sa stergi <b>{{ patientToDelete()?.firstName }}</b>?</p>

      <div class="modal-actions">
        <button class="btn-danger" (click)="confirmDelete()">Delete</button>
        <button class="btn-secondary" (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div>
}
