<div class="login-wrapper">

  <div class="login-box">
    <h2>{{ 'login.title' | translate }}</h2>

    <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="form-group">
        <label>{{ 'login.user' | translate }}</label>
        <input
          type="text"
          [(ngModel)]="form.username"
          name="username"
          placeholder="{{ 'login.insertUsername' | translate }}"
          required
        />
      </div>

      <div class="form-group">
        <label>{{ 'login.password' | translate }}</label>
        <input
          type="password"
          [(ngModel)]="form.password"
          name="password"
          placeholder="{{ 'login.insertPassword' | translate }}"
          required
        />
      </div>

      <button class="btn" type="submit" [disabled]="f.invalid || loading">
        {{ (loading ? 'login.button1' : 'login.button') | translate }}
      </button>
    </form>

    @if (isLoginFailed) {
      <p class="error">{{ errorMessage }}</p>
    }

    <a class="register-link" (click)="goToRegister()">{{ 'login.register' | translate }}</a>
  </div>

</div>
