<div class="dialog-wrapper">

  <div class="dialog-header">
    <h2>{{ data.id ? 'Editează programarea' : 'Programare nouă' }}</h2>
    <button class="close-btn" (click)="close()">✕</button>
  </div>

  <div class="dialog-body">

    <!-- GRID: Data + Ora -->
    <div class="info-grid">
      <div>
        <label>Data</label>
        @if (isEdit) {
          <input
            type="date"
            matInput
            [(ngModel)]="editDate">
        }
        @if (!isEdit) {
          <span>{{ data.date | date:'dd MMM yyyy' }}</span>
        }
      </div>

      <div>
        <label>Ora început</label>
        @if (isEdit) {
          <input
            type="time"
            matInput
            [(ngModel)]="editStartTime">
        }
        @if (!isEdit) {
          <span>{{ data.startHour }}:{{ data.startMinute | number:'2.0' }}</span>
        }
      </div>
    </div>

    <!-- Ora sfârșit -->
    <div>
      <label>Ora sfârșit </label>
      <span>
      <input matInput type="time" [(ngModel)]="data.endTime">
      </span>
    </div>

    <mat-form-field appearance="fill" class="full">
      <mat-label>Pacient</mat-label>
      @if (isEdit) {
        <input
          type="text"
          matInput
          [(ngModel)]="patientName"
          [disabled]="true">
      } @else {
        <input
          type="text"
          matInput
          [formControl]="patientControl"
          [matAutocomplete]="auto">

        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayPatient"
          (optionSelected)="onPatientSelected($event)">

          @for (p of filteredPatients; track p.id) {
            <mat-option [value]="p">
              {{ p.firstName }} {{ p.lastName }}
            </mat-option>
          }
        </mat-autocomplete>
      }
    </mat-form-field>
  </div>

  <div class="dialog-footer">

    <div class="footer-left">
      @if (isEdit) {
        <button class="btn-danger" (click)="cancelAppointment()">
          Anulează programarea
        </button>
      }
    </div>

    <div class="footer-right">
      <button class="btn-secondary" (click)="close()">Închide</button>
      <button class="btn-primary" (click)="save()">Salvează</button>
    </div>
  </div>

</div>
