<div class="layout">

  <aside>

    <h2>{{ userFullName }}</h2>

    @if (isDelegated) {
      <div class="impersonation-banner">
        <div class="impersonation-text">
          🔒 {{ 'impersonation.viewingAs' | translate }}
          <strong>{{ tokenStorage.getRole() }}</strong>
          ({{ 'impersonation.cabinet' | translate }} {{ tokenStorage.getCabinetId() }})
        </div>

        <button class="exit-button" (click)="exitImpersonation()">
          {{ 'impersonation.exit' | translate }}
        </button>
      </div>
    }

    <nav>
      <a routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="bi bi-house"></i>
        <span>  {{ 'menu.dashboard' | translate }}</span>
      </a>

      @if (isSuperAdmin) {
        <a routerLink="/admin/cabinets" routerLinkActive="active">
          <i class="bi bi-hospital"></i>
          <span>  {{ 'menu.cabinets' | translate }}</span>
        </a>

        <a routerLink="/admin/subscriptions" routerLinkActive="active">
          <i class="bi bi-credit-card"></i>
          <span>  {{ 'menu.subscriptions' | translate }}</span>
        </a>

        <a routerLink="/admin/users" routerLinkActive="active">
          <i class="bi bi-person-circle"></i>
          <span>  {{ 'menu.users' | translate }}</span>
        </a>
      }

      <a routerLink="/admin/patients" routerLinkActive="active">
        <i class="bi bi-people"></i>
        <span>  {{ 'menu.patients' | translate }}</span>
      </a>

      @if (!isSuperAdmin) {
        <a routerLink="/admin/appointments" routerLinkActive="active">
          <i class="bi bi-calendar3"></i>
          <span>  {{ 'menu.appointments' | translate }}</span>
        </a>
      }

      <a routerLink="/admin/profile" routerLinkActive="active">
        <i class="bi bi-person"></i>
        <span>  {{ 'menu.profile' | translate }}</span>
      </a>

      @if (!isSuperAdmin) {
        <a routerLink="/admin/cabinet-settings" routerLinkActive="active">
          <i class="bi bi-gear"></i>
          <span>  {{ 'menu.cabinetSettings' | translate }}</span>
        </a>

      }
    </nav>

    <div class="logout-container">
      <button class="btn-logout-sidebar" (click)="logout()">
        {{ 'menu.logout' | translate }}
      </button>
    </div>

  </aside>

  <main>

    @if (appState.isCabinetSuspended()) {
      <div class="suspended-overlay">
        <div class="suspended-card">

          <div class="icon">🚫</div>

          <h2>
            {{ 'suspended.title' | translate }}
          </h2>

          <p>
            {{ 'suspended.message' | translate }}
          </p>

          <div class="actions">
            <button class="btn-logout" (click)="logout()">
              {{ 'suspended.logout' | translate }}
            </button>
          </div>

        </div>
      </div>
    }

    <router-outlet></router-outlet>

  </main>

</div>
