<div class="page-header">
  <div class="left">
    <button class="back-btn" (click)="router.navigate(['/admin/patients'])">←</button>
    <h2>
      @if (id()) { Edit Patient } @else { Create Patient }
    </h2>
  </div>

  <button class="btn-primary" (click)="save()">Save</button>
</div>

<div class="edit-container">
  <div class="card">

    <form [formGroup]="form">

      <div class="form-grid form-grid-2">

        <div class="form-group">
          <label>Prenume</label>
          <input formControlName="firstName" type="text">
        </div>

        <div class="form-group">
          <label>Nume</label>
          <input formControlName="lastName" type="text">
        </div>

        <div class="form-group">
          <label>Telefon</label>
          <input formControlName="phone" type="text">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input formControlName="email" type="email">
        </div>

        <div class="form-group">
          <label>CNP</label>
          <input formControlName="cnp" type="text">
        </div>

        @if (isSuperAdmin) {
          <div class="form-group">
            <label>Cabinet</label>
            <select (change)="setCabinetId($event)" [value]="cabinetId">
              <option [value]="0"></option>
              @for (cab of cabinets(); track cab.id) {
                <option [value]="cab.id">{{ cab.name }}</option>
              }
            </select>
          </div>
        }

        <div class="form-group full-width">
          <label>Notițe</label>
          <input formControlName="notes" type="text">
        </div>

      </div>

    </form>
  </div>
</div>
