<div class="calendar-container">

  <!-- TOOLBAR -->
  <div class="calendar-toolbar">
    <div class="toolbar-left">
      <button (click)="goToPrevious()">&lt;</button>
      <button (click)="goToToday()">{{ 'appointments.today' | translate }}</button>
      <button (click)="goToNext()">&gt;</button>

      @if (view === 'week') {
        <span class="current-range week-label" (click)="dateInput.showPicker()">
          {{ 'appointments.weeks' | translate }} {{ weekDays()[0] | date:'dd.MM' }}
          - {{ weekDays()[6] | date:'dd.MM.yyyy' }}
        </span>
      }
      <div class="calendar-container d-inline">
        <input
          #dateInput
          type="date"
          (change)="onNativeDateChange($event)"
          style="position:absolute; opacity:0; pointer-events:none; background: transparent;">

        <button class="btn btn-outline-secondary btn-sm week-calendar-btn"
                (click)="dateInput.showPicker()">
          📅
        </button>
      </div>
    </div>

    <div class="toolbar-right">
      <button
        [class.active]="view === 'week'"
        (click)="switchView('week')">
        {{ 'appointments.week' | translate }}
      </button>
    </div>
  </div>

  <div class="calendar-legend">
    <div class="legend-item">
      <span class="legend-color scheduled"></span> {{ 'appointments.status.SCHEDULED' | translate }}
    </div>
    <div class="legend-item">
      <span class="legend-color confirmed"></span> {{ 'appointments.status.CONFIRMED' | translate }}
    </div>
    <div class="legend-item">
      <span class="legend-color completed"></span> {{ 'appointments.status.COMPLETED' | translate }}
    </div>
  </div>

  <!-- HEADER ZILE -->
  @if (view === 'week') {
    <div class="calendar-header">
      <div class="time-column-header"></div>

      @for (day of weekDays(); track day.getTime()) {
        <div class="day-header">
          <span>{{ formatDay(day) || 'EMPTY' }}</span>
        </div>
      }
    </div>
  }

  <!-- BODY -->
  <div class="calendar-body">

    <!-- time column -->
    <div class="time-column">
      @for (h of hours; track h) {
        <div class="time-slot-label">{{ h }}</div>
      }
    </div>

    <!-- WEEK VIEW -->
    @if (view === 'week') {
      <div class="days-grid">
        @for (day of weekDays(); track day) {
          <div class="day-column">
            <!-- clickable grid -->
            <div class="time-slot-grid-wrapper">

              @if (DateUtils.isToday(day)) {
                <div
                  class="now-line"
                  [ngStyle]="{ top: nowLineTop + 'px' }">
                </div>
              }
              <div class="time-slot-grid">
                @for (h of hours; let hi = $index; track hi) {
                  @for (slot of slotsPerHourArray; let mi = $index; track mi) {
                    @if (DateUtils.isBeforeToday(day)) {
                      <div class="time-slot time-slot--disabled"></div>
                    } @else {
                      <div class="time-slot"
                           (click)="onSlotClick(day, startHour + hi, mi * slotMinutes)">
                      </div>
                    }
                  }
                }
              </div>
            </div>
            <!-- APPOINTMENTS -->
            @for (appt of getAppointmentsForDay(day); track appt.id) {
              @if (DateUtils.isBeforeToday(day)) {
                <div
                  class="appointment-card appointment-card--disabled"
                  [style.background]="getColor(appt) || '#71788a'"
                  [ngStyle]="getAppointmentStyle(appt)"
                >
                  <div class="appt-header">
                    <div class="appt-title">
                      {{ appt.patientName }}
                    </div>

                    <div class="appt-subtitle">
                      {{ appt.start | date:'HH:mm' }} - {{ appt.end | date:'HH:mm' }}
                    </div>
                  </div>

                  @if (appt.phone && displayPhone(appt)) {
                    <div class="appt-phone">
                      📞 {{ appt.phone }}
                    </div>
                  }

                </div>
              } @else {
                <div
                  class="appointment-card"
                  [style.background]="getColor(appt) || '#71788a'"
                  [ngStyle]="getAppointmentStyle(appt)"
                  (click)="onAppointmentClick(appt, $event)"
                >

                  <div class="appt-header">
                    <div class="appt-title">
                      {{ appt.patientName }}
                    </div>

                    <div class="appt-subtitle">
                      {{ appt.start | date:'HH:mm' }} - {{ appt.end | date:'HH:mm' }}
                    </div>
                  </div>

                  @if (appt.phone && displayPhone(appt)) {
                    <div class="appt-phone">
                      📞 {{ appt.phone }}
                    </div>
                  }
                </div>
              }

            }

          </div>
        }
      </div>
    }

  </div>
</div>
